.gitignore
./app/audio_experiment_ap3/iar/Debug/:
./app/audio_experiment_ap3/iar/settings/:
**/script/*.bin
**/script/*.wav
tags
*.o
*.d
*.pbi
*.xcl
*.pbi.xcl
*.crun
*.bat
*.ps1
*.dbgdt
*.dnx
*.reggroups
*.wsdt
*.jlink
*.pbd
*.sim
*.browse
*.pbw
*.linf
*.dep
*.csv
*.orig
key_word_detection_ota.dep
.DS_Store
*.exe
*.bin
*.axf
*.wav
*.html
*.js
device/AmbiqSuite-Rel2.2.0/boards/apollo3_evb/examples/*
script/usb_spi_tool/apollo_spi_log_general
script/usb_spi_tool/apollo_spi_log_pcm
script/usb_spi_tool/apollo_spi_log_dspc
script/usb_spi_tool/apollo_spi_log_codec
