.\app\audio_experiment_ap3\iar\Debug\:
.\app\audio_experiment_ap3\iar\settings\:
tags
*.o
*.d
*.pbi
*.xcl
*.pbi.xcl
*.crun
*.bat
*.ps1
*.dbgdt
*.dnx
*.reggroups
*.wsdt
*.jlink
*.pbd
*.sim
*.browse
*.pbw
*.linf
*.dep
*.csv
*.orig
key_word_detection_ota.dep
*.DS_Store
